.LoginForm {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  max-width: 92vw;
  margin: 90px auto;
  padding: 20px;
  border-radius: 28px;
  box-sizing: border-box;
  box-shadow: 0 5px 18px rgba(0, 123, 255, 0.22);
  &_title {
    color: #4f4c16;
    font-size: 28px;
    font-weight: 700;
    padding: 20px;
    letter-spacing: 1px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  &_Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 360px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 22px;
   box-shadow: 0 5px 18px rgba(0, 123, 255, 0.22);
    opacity: 0;
    transform: translateY(-16px);
    animation: fadeIn 0.5s forwards;
  }

  @keyframes fadeIn {
    to { opacity: 1; transform: translateY(0); }
  }

  input {
    width: 100%;
    max-width: 260px;
    padding: 10px 12px;
    border: none;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    font-size: 15px;
    text-align: center;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      box-shadow: 0 5px 18px rgba(0, 123, 255, 0.22);
      transform: translateY(-2px);
    }
  }

  &_btn {
    margin-top: 8px;
    padding: 12px 26px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    font-weight: 600;
    color:#4f4c16;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }
  }

  .LoginForm_userror,
  .LoginForm_password,
  .LoginForm_email {
    color: #d94433;
    font-size: 12px;
  }

  // =========================
  // Планшеты
  // =========================
  @media (max-width: 1024px) {
    width: 88vw;

    &_title { font-size: 24px; }
    &_Form { max-width: 330px; gap: 14px; padding: 18px; }
    input { max-width: 240px; font-size: 14px; padding: 10px 12px; }
    &_btn { padding: 10px 22px; font-size: 14px; }
  }

  // =========================
  // Телефоны
  // =========================
  @media (max-width: 600px) {
    flex-direction: column;
    width: 94vw;
    margin: 60px auto;

    &_title { writing-mode: horizontal-tb; font-size: 22px; padding: 8px; }
    &_Form { max-width: 280px; gap: 12px; padding: 16px; }
    input { max-width: 220px; font-size: 13px; padding: 10px; }
    &_btn { padding: 10px 20px; font-size: 13px; }
  }
}


































































































































